doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title &Yacute; t&aacute; | B&#x1EC7;nh vi&#x1EC7;n &Dstrok;a khoa MINONA
  link(rel='stylesheet' href='/client/css/nurseWebsite-AdminMode.css')
  link(rel='stylesheet' href='/client/css/themify-icons.css')
  link(href='https://fonts.googleapis.com/icon?family=Material+Icons' rel='stylesheet')
  link(rel='preconnect' href='https://fonts.googleapis.com')
  link(rel='preconnect' href='https://fonts.gstatic.com' crossorigin='')
  link(href='https://fonts.googleapis.com/css2?family=Libre+Bodoni:ital,wght@0,700;1,700&family=Montserrat:ital@0;1&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap' rel='stylesheet')
header
  nav
    .logo
      img(src='/client/images/nursewebsitelogo.png' alt='MIMONA logo')
      h3
        | B&#x1EC6;NH VI&#x1EC6;N 
        br
        |  &Dstrok;A KHOA MIMONA
    ul.sub-nav
      li
        a(href='../') Trang chủ
      li
        a(href='#lucluongyta') Danh s&aacute;ch
      li
        a(href='../management-customer') Bệnh nhân của tôi
      li &Dstrok;&#x1EB7;t l&#x1ECB;ch
      li Tin t&#x1EE9;c
    ul
      button.login-button
        a(href='../login') Đăng nhập
    ul
      button.signin-button
        a(href='../register') Đăng ký
.container
  .content
    .info
      .info-content
        h1.DNYT &Dstrok;&#x1ED8;I NG&Utilde; Y T&Aacute;
        p
          | V&#x1EDB;i s&#x1EE9; m&#x1EC7;nh t&#x1EAD;n t&acirc;m v&agrave; c&#x1ED1;ng hi&#x1EBF;n gi&aacute; tr&#x1ECB; c&#x1ED1;t l&otilde;i v&#x1EC1; s&#x1EE9;c kh&#x1ECF;e, &dstrok;&#x1ED9;i ng&utilde; y t&aacute; ch&uacute;ng t&ocirc;i lu&ocirc;n s&#x1EB5;n
          | s&agrave;ng &dstrok;&#x1ED3;ng h&agrave;nh c&ugrave;ng b&#x1EC7;nh nh&acirc;n, mang l&#x1EA1;i s&#x1EF1; an to&agrave;n, tho&#x1EA3;i m&aacute;i v&agrave; ch&abreve;m s&oacute;c t&#x1EAD;n t&igrave;nh.
      .buttons
        button &Dstrok;&#x1EB7;t l&#x1ECB;ch ngay
        button Chi ti&#x1EBF;t
  .table
    .table-justify
      .title-content.col-2
        h2
          i.material-icons person
          |  S&#x1ED0; L&#x1AF;&#x1EE2;NG
        h2
          i.material-icons check
          |  CH&#x1EA4;T L&#x1AF;&#x1EE2;NG
      .table-content.col-2
        .sub-content.col-2
          div
            p 03/2023
            p S&#x1ED1; l&#x1B0;&#x1EE3;ng: 223
          div
            p 03/2024
            p S&#x1ED1; l&#x1B0;&#x1EE3;ng: 304
        .sub-content.col-2
          div
            p 96/304 y t&aacute; &Dstrok;&#x1EA1;t ki&#x1EC3;m &dstrok;&#x1ECB;nh Hoa K&#x1EF3;
          div
            p 50/304 y t&aacute; V&#x1B0;&#x1EE3;t chu&#x1EA9;n chuy&ecirc;n m&ocirc;n
#lucluongyta.nurse-list
  .title
    | L&#x1EF0;C L&#x1AF;&#x1EE2;NG 
    span
      br
      |  Y T&Aacute; 
      br
    button.add-button
      a(href='/doctor-nurse/create') Th&ecirc;m m&#x1EDB;i
  ul.nurse-info
    each yta in records  
      .nurse-name
        li.nurse-more
          .nurse-content
            h3 #{yta.hoten}
            .star
              i.material-icons star
              i.material-icons star
              i.material-icons star
              i.material-icons star
              i.material-icons star
            .what
              h3
                i.material-icons person
                | #{yta.khoa}
              h3
                i.material-icons local_offer
                | #{yta.capbac}
.loop-slider
  .background-img
  .background
    .title
      div
        h1
          b
            | Y T&Aacute; 
            span TI&Ecirc;U BI&#x1EC2;U
      div
        p.des Y t&aacute; v&#x1EDB;i nh&#x1EEF;ng th&agrave;nh t&iacute;ch v&agrave; &dstrok;&oacute;ng g&oacute;p to l&#x1EDB;n 
    // The pictures and desc
    .slider
      .item
        img(src='client/images/yta1.png' alt='')
        h2 Tr&#x1EA7;n Uy 
        p Th&agrave;nh t&iacute;ch: &Dstrok;&#x1EA1;t gi&#x1EA3;i y t&aacute; &dstrok;&#x1B0;&#x1EE3;c y&ecirc;u m&#x1EBF;n nh&#x1EA5;t
        button.shop.display-none(onclick="window.location.href = 'sub_page_nurseWebsite/info1.html';") Chi ti&#x1EBF;t
      .item
        img(src='/client/images/yta2.png' alt='')
        h2 Nguy&#x1EC5;n L&ecirc; Ho&agrave;ng Ph&uacute;c
        p
          | Th&agrave;nh t&iacute;ch: &Dstrok;&#x1EA1;t gi&#x1EA3;i nh&#x1EA5;t c&#x1EA5;p qu&#x1ED1;c gia cu&#x1ED9;c thi x&aacute;c su&#x1EA5;t th&#x1ED1;ng k&ecirc; v&agrave; h&oacute;a &dstrok;&#x1EA1;i c&#x1B0;&#x1A1;ng cho y t&aacute;
        button.shop.display-none(onclick="window.location.href = 'sub_page_nurseWebsite/info2.html';") Chi ti&#x1EBF;t
      .item
        img(src='/client/images/yta3.png' alt='')
        h2 V&otilde; Nguy&#x1EC5;n &Dstrok;&#x1EE9;c Ph&aacute;t 
        p Th&agrave;nh t&iacute;ch: Gi&#x1EA3;i nh&#x1EA5;t hoa h&#x1EAD;u y t&aacute; m&ugrave;a 2024
        button.shop.display-none(onclick="window.location.href = 'sub_page_nurseWebsite/info3.html';") Chi ti&#x1EBF;t
      .item
        img(src='/client/images/yta4.png' alt='')
        h2 Tr&#x1EA7;n Qu&#x1ED1;c Phong 
        p Th&agrave;nh t&iacute;ch: &Dstrok;&#x1EA1;t gi&#x1EA3;i qu&#x1ED1;c gia v&#x1EC1; y t&aacute; duy&ecirc;n d&aacute;ng
        button.shop.display-none(onclick="window.location.href = 'sub_page_nurseWebsite/info4.html';") Chi ti&#x1EBF;t
      .item
        img(src='/client/images/yta5.png' alt='')
        h2 Nguy&#x1EC5;n B&aacute; Vi&#x1EC7;t Quang 
        p Th&agrave;nh t&iacute;ch: &Dstrok;&#x1EA1;t gi&#x1EA3;i qu&#x1ED1;c t&#x1EBF; v&#x1EC1; cu&#x1ED9;c thi l&#x1EAD;p tr&igrave;nh cho y t&aacute;
        button.shop.display-none(onclick="window.location.href = 'sub_page_nurseWebsite/info5.html';")
          | Chi
          | ti&#x1EBF;t
      .item
        img(src='/client/images/yta6.png' alt='')
        h2 Ho&agrave;ng Ngh&itilde;a To&agrave;n Phi
        p Th&agrave;nh t&iacute;ch: &Dstrok;&#x1EA1;t gi&#x1EA3;i qu&#x1ED1;c t&#x1EBF; v&#x1EC1; cu&#x1ED9;c thi &dstrok;i&#x1EC1;u d&#x1B0;&#x1EE1;ng
        button.shop.display-none(onclick="window.location.href = 'sub_page_nurseWebsite/info6.html';")
          | Chi
          | ti&#x1EBF;t
    .dots
      ul.dots-container
        li
        li.active3
        li
        li
        li
        li
    // The dots below the picture
    // Button to move left and right
    .buttons3
      button#prev3
        | &lt;
      button#next3  &gt; 
.contact
  .contact-title
    h1 Follow us on social media
  .contact-icon
    .item(style='background-image: url(assets/contact/i.webp);')
    .item(style='background-image: url(assets/contact/ii.webp);')
    .item(style='background-image: url(./assets/contact/iii.webp);')
    .item(style='background-image: url(./assets/contact/iv.webp);')
.cpr
  .cpr-contain
    p &copy;2024 MIMONA *&Dstrok;&atilde; &dstrok;&abreve;ng k&iacute; b&#x1EA3;n quy&#x1EC1;n th&#x1B0;&#x1A1;ng hi&#x1EC7;u.
