@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --bg-white: #FFFFFF;
    --bg-blue: #3D6889;
    --font: "Noto Sans", sans-serif;
}   

html {
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
}

* {
    box-sizing: border-box;
}

body {
    font-family: var(--font);
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

ul, li {
    margin: 0;
    padding: 0;
}