*{
    box-sizing: border-box;
    background-color: rgba(243, 235, 235, 0.853); 
    font-family: 'Courier New', Courier, monospace;
    font-size:large;
}
 .title {
    display: block;
    background-color: rgb(13, 71, 143);
    height: 50px;
    width: 101%;
    margin-bottom: 50px;
    /* margin-top: px;
    margin-left: 0x;
    margin-right: 0px;
    margin-bottom: 80px; */
    img{
        height: 47px;
        width: px;
        margin: 0px;
        background-color:  rgb(13, 71, 143)  ;
    }
    .top{
    display: flex;
    background-color:  rgb(13, 71, 143) ;
    width: 100%;
    height: 50px;
    
    }
    h1{
    display: block;
    font-size: 30px;
    background-color:  rgb(13, 71, 143);
    height: 50px;
    width: 100%;
    padding-top: 0px;
    padding-left: 50px;
    margin: 0px;

    }
    .return{
    display: block;
        background-color:  rgb(13, 71, 143)  ;
        position: relative;
        width: 45px;
        height: 50px;
        left: 0px;
        
    }
}
form select{
    width: 80%;
    position: relative;
    left: 120px;
    border-radius: 6px;
    
}
#submit-button{
    position: absolute;
    top: 220px;
    right: 30px;
    border-radius: 6px;
}
.search{
    display: flex;
    position: absolute;
    right: 20px;
    top: 65px;
    button{
        border:none;
        position: absolute;
        right: 9px;
        top: 2px;
    }
    input{
        border-radius: 6px;
        padding-right: 28px;
    }
}
.search img {
    height: 10px;
}
.content-table{
border-collapse: collapse;
position: sticky;
/* margin-left: auto;
margin-right: auto; */
width: 100%;
border-radius: 10px 10px 10px 10px;
box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
bottom: 0px;
left: 200px;
overflow-y: scroll;
}
.content-table thead tr{
    /* display: block; */
    text-align: left;
    /* width: 100%; */
}
.content-table th, .content-table td{
    padding: 12px 15px;
    /* width: 100%; */
}
.content-table th{
    position: sticky;
    top: 0px;
    background-color:  rgb(13, 71, 143);
}
.table-wrapper{
    max-height: 300px;
    overflow-y: scroll;
    margin-top: 250px ;
    width: 75%;
    margin-left: auto;
    margin-right: auto;
}
.content-table tbody tr{
    border-bottom: 1px solid #dddddd;
    background-color:   rgb(23, 14, 150);
}
h2{
    position: absolute;
    font-size: 2.6rem;
    bottom: 350px;
    left: 260px;

}
.addProduct{
    position: absolute;
    
    right   : 100px;
}
button:hover{
background-color: #dddddd;
}
input:hover{
    background-color: #fff;
}
select:hover{
    background-color: #fff;
    
}

