doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title Trang chủ
  link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css' integrity='sha512-NhSC1YmyruXifcj/KFRWoC561YpHpc5Jtzgvbuzx5VozKpWvQ+4nXhPdFgmx8xqexRcpAglTj9sIBWINXa8x5w==' crossorigin='anonymous' referrerpolicy='no-referrer')
  link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css' integrity='sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==' crossorigin='anonymous' referrerpolicy='no-referrer')
  link(rel='stylesheet' href='https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css' integrity='sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N' crossorigin='anonymous')
  link(rel='stylesheet' href='client/css/base.css')
  link(rel='stylesheet' href='client/css/style.css')
  link(rel='stylesheet' href='https://wowjs.uk/css/libs/animate.css')
  link(rel='canonical' href='https://wowjs.uk/')
  link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css' integrity='sha512-NhSC1YmyruXifcj/KFRWoC561YpHpc5Jtzgvbuzx5VozKpWvQ+4nXhPdFgmx8xqexRcpAglTj9sIBWINXa8x5w==' crossorigin='anonymous' referrerpolicy='no-referrer')
// Pre Header
.pre-header
  .container
    .row
      .col-xl-12
        .inner-wrap
          .inner-left
            .inner-dsc-top
              | Hotline kh&#x1EA9;n c&#x1EA5;p
            .inner-dsc-bottom
              | 1900 636 649
          .inner-main
            img(src='client/images/logo.png' alt='')
          .inner-right
            .inner-dsc-top
              | T&#x1B0; v&#x1EA5;n tr&#x1EF1;c tuy&#x1EBF;n
            .inner-dsc-bottom
              | mon@mona.media
// Pre Header
// Header
.header
  .row
    .col-xl-12
      ul.inner-menu
        li
          a(href='#') TRANG CH&#x1EE6;
        li
          a(href='#')
            | GI&#x1EDA;I THI&#x1EC6;U
        li
          a(href='#') D&#x1ECA;CH V&#x1EE4;
        li
          a(href=`/management-customer`) BỆNH NHÂN
        li
          a(href=`/doctor-nurse` target="_blank") BÁC SĨ & Y TÁ
        li
          a(href='#') LI&Ecirc;N H&#x1EC6;
// Header
// Section-1
.section-1
  .row
    .col-xl-12
      .name
        | PH&Ograve;NG KH&Aacute;M &Dstrok;A KHOA
      .inner-name
        | MONA MEDICAL
    .col-xl-12
      .inner-wrap
        .inner-work
          .inner-title
            | Gi&#x1EDD; l&agrave;m vi&#x1EC7;c
          .inner-box
            .inner-time
              i.fa-solid.fa-clock
              span
                | Th&#x1EE9; 2 &ndash; Th&#x1EE9; 6 ---------------- 08:00-
                | 19:00
            hr
            .inner-time
              i.fa-solid.fa-clock
              span
                | Th&#x1EE9; 7 ---------------------------      11:00 &ndash; 15:00
            hr
            .inner-time
              i.fa-solid.fa-clock
              span
                | Ch&#x1EE7; nh&#x1EAD;t ---------------------- Ngh&#x1EC9;
        .inner-contact
          .inner-title
            | Chi ti&#x1EBF;t li&ecirc;n h&#x1EC7;
          .inner-box
            .inner-place
              i.fa-solid.fa-location-dot
              span
                | 319 C16 L&yacute; Th&#x1B0;&#x1EDD;ng Ki&#x1EC7;t, Ph&#x1B0;&#x1EDD;ng 15, Qu&#x1EAD;n 11, Tp.HCM
            .button
              | Xem b&#x1EA3;n &dstrok;&#x1ED3;
        .inner-schedule
          .inner-title
            | &Dstrok;&#x1EB7;t h&#x1EB9;n t&#x1B0; v&#x1EA5;n
          .inner-box
            .inner-time
              i.fa-solid.fa-calendar-days
              span
                | Ch&#x1ECD;n kho&#x1EA3;ng th&#x1EDD;i gian ph&ugrave; h&#x1EE3;p v&#x1EDB;i b&#x1EA1;n r&#x1ED3;i li&ecirc;n h&#x1EC7; v&#x1EDB;i ch&uacute;ng t&ocirc;i
            .button
              | G&#x1EB7;p ngay b&aacute;c s&itilde;
// Section-1
// Section-2
.section-2
  .inner-wrap.wow.fadeInRight
    .inner-title
      | &Dstrok;i&#x1EC3;m kh&aacute;c bi&#x1EC7;t &#x1EDF; ph&ograve;ng kh&aacute;m ch&uacute;ng t&ocirc;i
    .inner-dsc
      | Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
      | magna aliqua
    .inner-bottom
      .box
        img(src='client/images/+.png' alt='')
        span T&#x1B0; v&#x1EA5;n mi&#x1EC5;n ph&iacute;
      .box
        img(src='client/images/pay.png' alt='')
        span Gi&aacute; c&#x1EA3; ph&#x1EA3;i ch&abreve;ng
      .box
        img(src='client/images/people.png' alt='')
        span B&aacute;c s&itilde; chuy&ecirc;n m&ocirc;n gi&#x1ECF;i
      .box
        img(src='client/images/;ap.png' alt='')
        span Nh&acirc;n vi&ecirc;n chuy&ecirc;n nghi&#x1EC7;p
      .box
        img(src='client/images/clock.png' alt='')
        span Ph&#x1EE5;c v&#x1EE5; 24/7
      .box
        img(src='client/images/like.png' alt='')
        span H&#x1A1;n 5000 kh&aacute;ch h&agrave;ng h&agrave;i l&ograve;ng
// Section-2
// Section-3
.section-3
  .container
    .row.justify-content-center
      .col-8
        .box-head
          .inner-title D&#x1ECB;ch v&#x1EE5; y t&#x1EBF; c&#x1EE7;a ch&uacute;ng t&ocirc;i
          .inner-dsc
            | Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe
            | eveniet ut et voluptates repudiandae sint et molestiae non recusandae
    .row
      .inner-wrap.wow.pulse
        .box
          .inner-img
            img(src='client/images/tongquat.png' alt='')
          .inner-title
            | Kh&aacute;m t&#x1ED5;ng qu&aacute;t
          .inner-dsc Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh
        .box
          .inner-img
            img(src='client/images/turyen.png' alt='')
          .inner-title
            | Truy&#x1EC1;n d&#x1ECB;ch y t&#x1EBF;
          .inner-dsc Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh
        .box
          .inner-img
            img(src='client/images/cc.png' alt='')
          .inner-title
            | C&#x1EA5;p c&#x1EE9;u h&#x1ED3;i s&#x1EE9;c
          .inner-dsc Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh
        .box
          .inner-img
            img(src='client/images/do.png' alt='')
          .inner-title
            | &Dstrok;o &dstrok;i&#x1EC7;n tim
          .inner-dsc Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh
        .box
          .inner-img
            img(src='client/images/chup.png' alt='')
          .inner-title
            | Ch&#x1EE5;p X-quang
          .inner-dsc Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh
        .box
          .inner-img
            img(src='client/images/xetnghiem.png' alt='')
          .inner-title
            | X&eacute;t nghi&#x1EC7;m m&aacute;u
          .inner-dsc Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh
// Section-3
// Section-4
.section-4
  .inner-wrap.wow.fadeInUp
    .inner-form
      .inner-title
        | &Dstrok;&#x1EB7;t h&#x1EB9;n
      form(action='' target='_blank' autocomplete='on')
        select(name='' id='' required='')
          option(value='null') ---
          option(value='cham-soc') CH&Abreve;M S&Oacute;C S&#x1EE8;C KH&#x1ECE;E
          option(value='lam-san') KH&Aacute;M L&Acirc;M S&Agrave;N
          option(value='phau-thuat') PH&#x1EAA;U THU&#x1EAC;T T&#x1ED4;NG QU&Aacute;T
          option(value='tai-tao') NGHI&Ecirc;N C&#x1EE8;U T&Aacute;I T&#x1EA0;O
        br
        input(type='text' placeholder='Họ và tên' required='')
        br
        input(type='text' placeholder='Số điện thoại' required='')
        br
        input(type='text' placeholder='Địa chỉ' required='')
        br
        textarea(name='' placeholder='Lời nhắn')
        br
        input#button(type='submit' value='Gửi' required='')
  .inner-info.wow.fadeInUp(data-wow-delay='0.1s')
    .inner-title
      | Chuy&ecirc;n khoa
    #accordionExample.accordion
      .card
        #headingOne.card-header
          h2.mb-0
            button.btn.btn-link.btn-block.text-left(type='button' data-toggle='collapse' data-target='#collapseOne' aria-expanded='true' aria-controls='collapseOne')
              | Ch&abreve;m s&oacute;c s&#x1EE9;c kh&#x1ECF;e
        #collapseOne.collapse(aria-labelledby='headingOne' data-parent='#accordionExample')
          .card-body
            | But in certain circumstances and owing to the claims of duty or the obligations of business it will
            | frequently occur that pleasures
      .card
        #headingTwo.card-header
          h2.mb-0
            button.btn.btn-link.btn-block.text-left.collapsed(type='button' data-toggle='collapse' data-target='#collapseTwo' aria-expanded='false' aria-controls='collapseTwo')
              | Kh&aacute;m l&acirc;m s&agrave;n
        #collapseTwo.collapse(aria-labelledby='headingTwo' data-parent='#accordionExample')
          .card-body
            | But in certain circumstances and owing to the claims of duty or the obligations of business it will
            | frequently occur that pleasures
      .card
        #headingThree.card-header
          h2.mb-0
            button.btn.btn-link.btn-block.text-left.collapsed(type='button' data-toggle='collapse' data-target='#collapseThree' aria-expanded='false' aria-controls='collapseThree')
              | Ph&#x1EAB;u thu&#x1EAD;t t&#x1ED5;ng qu&aacute;t
        #collapseThree.collapse(aria-labelledby='headingThree' data-parent='#accordionExample')
          .card-body
            | But in certain circumstances and owing to the claims of duty or the obligations of business it will
            | frequently occur that pleasures
      .card
        #headingThree.card-header
          h2.mb-0
            button.btn.btn-link.btn-block.text-left.collapsed(type='button' data-toggle='collapse' data-target='#collapseFour' aria-expanded='false' aria-controls='collapseThree')
              | Nghi&ecirc;n c&#x1EE9;u t&aacute;i t&#x1EA1;o
        #collapseFour.collapse(aria-labelledby='headingThree' data-parent='#accordionExample')
          .card-body
            | But in certain circumstances and owing to the claims of duty or the obligations of business it will
            | frequently occur that pleasures
    .inner-know
      | XEM H&#x1EBE;T
// Section-4
// Section-5
.section-5
  .container
    .row
      .col-12
        .box-head
          .inner-title
            | C&aacute;c b&aacute;c s&itilde; c&#x1EE7;a ch&uacute;ng t&ocirc;i
          .inner-dsc
            | Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
            | dolore magna aliqua
    .row
      .col-12
        .inner-people
          .item
            .inner-img
              img(src='client/images/tk.jpg' alt='')
            .name
              | Th&uacute;y Ki&#x1EC1;u
            .inner-job
              | B&aacute;c s&itilde; Da li&#x1EC5;u
          .item
            .inner-img
              img(src='client/images/Thúy Vân.jpg' alt='')
            .name
              | Th&uacute;y V&acirc;n
            .inner-job
              | B&aacute;c s&itilde; Th&#x1EA9;m m&#x1EF9;
          .item
            .inner-img
              img(src='client/images/Văn Chung.jpg' alt='')
            .name
              | V&abreve;n Chung
            .inner-job
              | B&aacute;c s&itilde; Tai M&utilde;i H&#x1ECD;ng
          .item
            .inner-img
              img(src='client/images/Thúy Yên.jpg' alt='')
            .name
              | Th&uacute;y Y&ecirc;n
            .inner-job
              | B&aacute;c s&itilde; M&#x1EAF;t
          .item
            .inner-img
              img(src='client/images/Văn Bình.jpg' alt='')
            .name
              | V&abreve;n B&igrave;nh
            .inner-job
              | B&aacute;c s&itilde; X&#x1B0;&#x1A1;ng kh&#x1EDB;p
          .item
            .inner-img
              img(src='client/images/Ngọc Anh.jpg' alt='')
            .name
              | Ng&#x1ECD;c Anh
            .inner-job
              | B&aacute;c s&itilde; Tim m&#x1EA1;ch
// Section-5
// Section-6
.section-6
  .container
    .col-12
      .inner-title
        | Nh&#x1EAD;n x&eacute;t c&#x1EE7;a kh&aacute;ch h&agrave;ng
    .col-12
      .item
        .inner-img
          img(src='client/images/duymanh.png' alt='')
        .inner-rating
          | Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam, sint vel iste placeat vitae aspernatur facere magnam consequuntur, dolores excepturi libero aliquam fugiat cum? In amet nulla laboriosam ut saepe.
// Section-6
// Section-7
.pre-header.section-7
  .container
    .row
      .col-xl-12
        .inner-wrap
          .inner-left
            .inner-dsc-top
              | Hotline kh&#x1EA9;n c&#x1EA5;p
            .inner-dsc-bottom
              | 1900 636 649
          .inner-main
            img(src='client/images/logotrang.png' alt='')
          .inner-right
            .inner-dsc-top
              | T&#x1B0; v&#x1EA5;n tr&#x1EF1;c tuy&#x1EBF;n
            .inner-dsc-bottom
              | mon@mona.media
    hr
// Section-7
// Section-8
.section-8
  .container
    .row
      .col-4
        .item
          .inner-title GI&#x1EDA;I THI&#x1EC6;U
          .inner-dsc
            | Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
          .inner-social
            i.fa-brands.fa-facebook-f
            i.fa-brands.fa-instagram
            i.fa-brands.fa-twitter
      .col-4
        .item
          .inner-title TH&Ocirc;NG TIN LI&Ecirc;N H&#x1EC6;
          .inner-info
            .inner-place
              i.fa-solid.fa-location-pin
              span 319 C16 L&yacute; Th&#x1B0;&#x1EDD;ng Ki&#x1EC7;t, Ph&#x1B0;&#x1EDD;ng 15, Qu&#x1EAD;n 11, Tp.HCM
            .phone
              i.fa-solid.fa-phone
              span 076 922 0162
            .email
              i.fa-solid.fa-envelope
              span
                | demonhunterg@gmail.com
                | mon@mona.media
      .col-4
        .item
          .inner-title
            | &Dstrok;&Abreve;NG K&Yacute;
          .inner-dsc &Dstrok;&abreve;ng k&yacute; &dstrok;&#x1EC3; nh&#x1EAD;n &dstrok;&#x1B0;&#x1EE3;c &dstrok;&#x1B0;&#x1EE3;c th&ocirc;ng tin m&#x1EDB;i nh&#x1EA5;t t&#x1EEB; ch&uacute;ng t&ocirc;i.
          form(action='')
            input(type='email' placeholder='Email...' required='')
            button(type='submit')
              i.fa-solid.fa-paper-plane
// Section-8
// Section-9
.section-9
  .container
    .row.justify-content-center
      .col-12
        | Copyright &copy; 2024 Hospital Management. All rights reserved.
// Section-9
// Import Bootrap
script(src='https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js' integrity='sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj' crossorigin='anonymous')
script(src='https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js' integrity='sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct' crossorigin='anonymous')
// Import Bootrap
// Import WowJS
script(src='https://wowjs.uk/dist/wow.min.js')
script.
  new WOW().init();
// Import WowJS
